.star-rating {
  display: flex;
  align-items: center;
  font-size: 24px;
}

.star {
  color: gold;
  position: relative;
}
.star.full {
  color: gold;
}

.star.empty {
  color: #ccc;
}

.star-partial {
  position: relative;
  display: inline-block;
  
  
}

/* Dolan kısım */
 .star-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  color: gold; /* Sarı */
  overflow: hidden;
    white-space: nowrap;


}

/* Arkadaki boş yıldız */
 .star-back {
   color: #ccc;
  z-index: -1;
  width: 24px;
}
